Package: com.derbal.picsart
Name: PicsArt Hack
Author: Derbal <i.de4bal@gmail.com>
Description: PicsArt Open subscription
Depends: mobilesubstrate
Maintainer: Derbal <i.de4bal@gmail.com>
Architecture: iphoneos-arm
Section: Tweaks
Version: 1.0
Installed-Size: 104